<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="search-conditions" class="search-conditions" style="z-index: 1000;">
		<div style="width: 75%; padding: 3px 20px;">
			<p th:if="${shopMap == null }" th:text="'取得件数:0'"></p>
		    <p th:if="${shopMap != null}" th:text="'取得件数：' + ${shopMap.size()}"></p>
			<span th:text="'取得条件：'"></span>
			<span th:text="'住所エリア:' + ${nameForm.address}"></span>
			<span th:if="${shopMap != null}">&nbsp;|&nbsp;</span>
			<span th:text="'キーワード:' + ${nameForm.keyword}"></span>
			<span th:if="${shopMap != null}">&nbsp;|&nbsp;</span>
			<span th:if="${nameForm.order == 'エリア順'}" th:text="'並び順: エリア順'"></span>
			<span th:if="${nameForm.order == '指定なし'}" th:text="'並び順: 指定なし'"></span>
			<span th:if="${nameForm.order != '' and nameForm.order != 'エリア順' and nameForm.order != '指定なし'}" 
				th:text="${nameForm.order != null and nameForm.order.equals('1') ? '並び順: 名前順' : '並び順: おすすめ順'}"></span>
		</div>
	</div>
</body>
</html>