<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<div layout:fragment="main-content" class="main-content">
    <div style="width: 75%; padding: 20px;">
        <img src="https://imgfp.hotp.jp/SYS/fw_party/images/common/img_list_kv_720x99.png" alt="歓送迎会パーフェクトガイド" width="720" height="99">
        <h2>店舗一覧</h2>
         <h3 th:if="${zero}" th:text="${zero}">取得結果</h3>
    </div>
</div>
</body>
</html>