<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>一覧表示</title>
	<script src="/js/hello.js"></script>
</head>
<body>
<div layout:fragment="main-content" class="main-content">
    <div style="width: 75%; padding: 20px;">
        <img src="https://imgfp.hotp.jp/SYS/fw_party/images/common/img_list_kv_720x99.png" alt="歓送迎会パーフェクトガイド" width="720" height="99">
        <h2>店舗一覧</h2>
        <button onclick="location.href='/favorites/list/name'">お気に入りリスト</button>
        <h3 th:if="${zero}" th:text="${zero}">取得結果</h3>
        <div th:if="${shopMap != null}">
		    <div th:each="shop, iterStat : ${shopMap.entrySet()}">
				<form th:id="'form' + ${iterStat.index}" th:action="@{/saveStore}" method="post">
				    <input type="hidden" name="shopName" th:value="${shop.key}" />
			        <div>
			            <h2 th:text="${iterStat.count} + '.' + ${shop.key}"></h2>
			        </div>
			        <div th:each="detail : ${shop.value.entrySet()}">
						<input type="hidden" th:name="${detail.key}" th:value="${detail.value}" />
			            <div th:if="${detail.key == '店舗画像'}">
			                <img th:src="${detail.value}" alt="店舗画像" />
			            </div>
			            <div th:if="${detail.key != '店舗画像' 
				            	&& detail.key != '店舗URL' 
				            	&& detail.key != '店舗名かな' 
				            	&& detail.key != '中エリアコード' 
				            	&& detail.key != '中エリア名' }" 
			            	th:text="${detail.key} + ': ' + ${detail.value}"></div>
			            <div th:if="${detail.key == '店舗URL'}">
			                <a th:href="${detail.value}" target="_blank" rel="noopener noreferrer">店舗URL</a>
			            </div>
			        </div>
					<button th:text="げんき" type="submit" th:attr="data-form-id='form' + ${iterStat.index}" class="saveShopButton">お気に入り</button>
        		</form>
		    </div>
		</div>
    </div>
</div>


</body>
</html>